<div class="container">

    <div class="row">
        <div class="col-12">
            <h1>EDITAR DESARROLLO</h1>
        </div>
    </div>

    <div class="row" id="cuerpo">


        <div class="col">

            <a href="/administradorAGG1970"><button class="btn btn-primary">VOLVER</button></a>
            <a href="/administradorAGG1970/adminDesarrollo/addDesarrollo"><button class="btn btn-info">AÑADIR DESARROLLO</button></a>
        </div>


        <table class="table">
            <thead>
            </thead>
            <tbody>
              <tr *ngFor="let desarrollo of ListarDesarrollo">
                <td><img src="{{desarrollo.srcimg_main}}" alt=""></td>
                <div>
                    <td>
                       <!-- <button (click)="updateCuadro(cuadro.idgallery)" type="button" class="btn btn-success">Editar</button>-->
                    </td>
                    <td>
                        <button (click)="updateDesarrollo(desarrollo.iddesarrollo)" type="button" class="btn btn-success">Editar</button>

                        <button (click)="deleteDesarrollo(desarrollo.iddesarrollo)" type="button" class="btn btn-danger">Eliminar</button>
                    </td>
                </div>
              </tr>
            </tbody>
          </table>
    </div>
</div>