<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>BIOGRAFÍA</h1>
        </div>
    </div>

    <div class="row" id="filaFotos">
        <div class="col-lg-6 justify-content-center">
            <img src="../../../assets/images/biophoto.jpg" alt="" class="img-fluid img-thumbnail">
        </div>
        <div class="col-lg-6 justify-content-center">
            <p id="parrafo1">
                Nací y crecí en madrid (1970). Desde pequeño disfrutaba, creando volumenes y reflejos a traves del
                carboncillo y la goma de borrar.
                Con el paso del tiempo, abandoné la senda artística para dedicarme profesionalmente al dibujo industrial
                (no dejo del todo la faceta creadora). Con el paso de los años y tomando como excusa la busqueda de un
                antidoto contra el stress, retome a la pintura artística.
                Toda mi formación artística ha sido autodidacta. Al principio mucha prueba y error, siguiendo los
                consejos de artistas ya consagrados e incluso,
                pidiendo la opinión de los dependientes de las tiendas de vellas artes, que para mi son, una fuente de
                sabiduria que mucha gente ignora.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 justify-content-center">
            <br> 
            <p id="parrafo2">
                Mis referencias artísticas se basa sobre todo en el arte hiperrealista
                americano, especialmente enfocado en temas urbanos. De la inmensa cantidad de buenos artistas quiero
                mencionar sobretodo a richard estes, davis cone o rod penner entre otros,
                siempre me han atraído las escenas urbanas, los vehículos, donde la presencia humana es poca o nula,
                quizás para no quitarle protagonismo a los edificios, los coches o los inmuebles urbanos. Porque casi
                siempre, no miramos lo que hay alrededor.
                No quisiera dejar de mencionar a otros pintores que me han apoyado e incluso me dieron algunos consejos
                como <a href="https://www.danielcuervo.es/">Daniel Cuervo</a> e <a href="https://www.instagram.com/isaaccrucespintor/?hl=es">Isaac Cruces</a>. Grandes pintores y excelentes personas.
            </p>
        </div>
    </div>
</div>