<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-12">
            <img src="../../../assets/images/Logo.png" alt="" id="logo">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>ANTONIO GUARDEÑO</h3>
        </div>
    </div>
    <div class="row align-items-center" id="enlaces">
        <div class="col-lg-3 col-sm-6">
            <h4>Sobre la obra</h4>
            <ul>
                <li>
                    <a class="nav-link active" aria-current="page" href="/galeria">Galería</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="/desarrollo">Desarrollo</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-sm-6">
            <h4>Sobre mí</h4>
            <ul>
                <li>
                    <a class="nav-link active" aria-current="page" href="/biografia">Biografía</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="/exposiciones">Exposiciones</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-1 col-sm-0">

        </div>
        <div class="col-lg-3 col-sm-12" id="contenedorEnlaces">
            <h4>Enlaces</h4>
            <ul>
                <li>
                    <a class="nav-link active" aria-current="page" href="https://www.instagram.com/aguardeno_art/"
                        target="_blank" id="redes"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png"
                            alt="LogoI"> @aguardeno_art</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page"
                        href="https://www.facebook.com/antonio.guardenocampana/?locale=es_LA" target="_blank"
                        id="redes"> <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png"
                            alt="LogoF"> Antonio Guardeño Campaña</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="/correo" id="correoEti"> <img
                            src="https://cdn-icons-png.flaticon.com/512/95/95645.png" alt="LogoG">
                        antoniogc70@yahoo.com</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-2">

        </div>
    </div>
</div>