<div class="container">

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000" id="carousel-item">
                <div class="image-container">
                    <img src="../../../assets/images/Galeria/SORPRESA.jpg" alt="..." class="fit-screen">
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000" *ngFor="let cuadro of ListarGallery">
                <div class="image-container">
                    <img src="{{cuadro.srcimg}}" alt="..." class="fit-screen">
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>