<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>DESARROLLO</h1>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-lg-6 mb-4">

            <div>
                <img class="w-100 mb-4 rounded" src="../../../assets/images/Galeria/DE_COMPRAS.jpg" alt="DE_COMPRAS">

                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage1">
                    <button type="button" class="btn">Ver proceso</button>
                </a>
            </div>
            <div>
                <img class="w-100 mb-4 rounded" src="../../../assets/images/Galeria/AMANECER_EN_MINESSOTA.jpg" alt="AMANECER_EN_MINESSOTA">

                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage2">
                    <button type="button" class="btn">Ver proceso</button>
                </a>
            </div>
            <div>
                <img class="w-100 mb-4 rounded" src="../../../assets/images/Galeria/EN_LAS_NUBES.jpg" alt="EN_LAS_NUBES">

                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage3">
                    <button type="button" class="btn">Ver proceso</button>
                </a>
            </div>
            <div>
                <img class="w-100 mb-4 rounded" src="../../../assets/images/Galeria/SORPRESA.jpg" alt="SORPRESA">

                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage7">
                    <button type="button" class="btn">Ver proceso</button>
                </a>
            </div>
        </div>

        <div class="col-lg-6 mb-4">

            <div>
                <img class="w-100 mb-4 rounded" src="../../../assets/images/Galeria/LA_PARADA.jpg" alt="LA_PARADA">

                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage4">
                    <button type="button" class="btn">Ver proceso</button>
                </a>
            </div>
            <div>
                <img class="w-100 mb-4 rounded" src="../../../assets/images/Galeria/LAVABO.jpg" alt="LAVABO">

                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage5">
                    <button type="button" class="btn">Ver proceso</button>
                </a>
            </div>
            <div>
                <img class="w-100 mb-4 rounded" src="../../../assets/images/Galeria/MARY_POPPINS.JPG" alt="MARY_POPPINS">

                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage6">
                    <button type="button" class="btn">Ver proceso</button>
                </a>
            </div>
            <div>
                <img class="w-100 mb-4 rounded" src="../../../assets/images/Galeria/GASOLINERA.JPG" alt="GASOLINERA">

                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImage8">
                    <button type="button" class="btn">Ver proceso</button>
                </a>
            </div>
        </div>

    </div>





    <!-- Imagen 1-->
    <div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img src="../../../assets/images/Galeria/DE_COMPRAS.jpg" alt="DE_COMPRAS">

                <p>asd</p>

                <div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- Imagen 2-->
    <div tabindex="-1" aria-labelledby="modalImage2" aria-hidden="true" class="modal fade" id="modalImage2">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img src="../../../assets/images/Galeria/AMANECER_EN_MINESSOTA.jpg" alt="AMANECER_EN_MINESSOTA">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic qui saepe labore, sint, iste sit ratione
                    quod provident natus, unde voluptatem repellendus! Dolorem, tempora adipisci nostrum minus magnam
                    velit ducimus.</p>
            </div>
        </div>
    </div>

</div>