<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>DESARROLLO</h1>
        </div>
    </div>


    <div class="row mt-5">
        <ng-container *ngFor="let desarrollo of ListarDesarrollos; let i = index;">
            <ng-container *ngIf="i % 2 == 0">
                <div class="col-lg-6 mb-4">

                    <img class="w-100 mb-4 rounded" src="{{desarrollo.srcimg_main}}" alt="{{desarrollo.titulo}}">
                    <a href="#!" data-bs-toggle="modal" [attr.data-bs-target]="'#'+desarrollo.iddesarrollo">
                        <button type="button" class="btn">Ver proceso</button>

                    </a>
                    <!-- Imagen 1-->
                    <div tabindex="-1" [attr.aria-labelledby]="'#'+desarrollo.iddesarrollo" aria-hidden="true"
                        class="modal fade" id="{{desarrollo.iddesarrollo}}">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">

                                <div class="card">

                                    <div class="card-body">
                                        <h3 class="card-title"><u>{{desarrollo.titulo}}</u></h3>


                                    </div>

                                    <img src="{{desarrollo.srcimg1}}" alt="">
                                    <br>
                                    <img src="{{desarrollo.srcimg2}}" alt="">
                                    <br>
                                    <img src="{{desarrollo.srcimg3}}" alt="">
                                    <br>
                                    <img src="{{desarrollo.srcimg4}}" alt="">
                                    <br>
                                    <img src="{{desarrollo.srcimg5}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div *ngIf="ListarDesarrollos[i+1]">

                        <img class="w-100 mb-4 rounded" src="{{ListarDesarrollos[i+1].srcimg_main}}"
                            alt="{{ListarDesarrollos[i+1].titulo}}">
                        <a href="#!" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#'+ListarDesarrollos[i+1].iddesarrollo">
                            <button type="button" class="btn">Ver proceso</button>

                        </a>
                        <!-- Imagen 1-->
                        <div tabindex="-1" [attr.aria-labelledby]="'#'+ListarDesarrollos[i+1].iddesarrollo"
                            aria-hidden="true" class="modal fade" id="{{ListarDesarrollos[i+1].iddesarrollo}}">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">

                                    <div class="card">

                                        <div class="card-body">
                                            <h3 class="card-title"><u>{{ListarDesarrollos[i+1].titulo}}</u></h3>

                                            <img src="{{ListarDesarrollos[i+1].srcimg1}}" alt="">
                                            <br>
                                            <img src="{{ListarDesarrollos[i+1].srcimg2}}" alt="">
                                            <br>
                                            <img src="{{ListarDesarrollos[i+1].srcimg3}}" alt="">
                                            <br>
                                            <img src="{{ListarDesarrollos[i+1].srcimg4}}" alt="">
                                            <br>
                                            <img src="{{ListarDesarrollos[i+1].srcimg5}}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </ng-container>

        </ng-container>


    </div>



</div>