<div class="container">

    <div class="row">
        <div class="col">

            <a href="/administradorAGG1970/adminGallery"><button class="btn btn-primary">EDITAR GALERIA</button></a>
        </div>
        
        <div class="col">

            <a href="/administradorAGG1970/adminDesarrollo"><button class="btn btn-primary">EDITAR DESARROLLO</button></a>
        </div>


        <div class="col">

            <a href="/administradorAGG1970/adminExposicion"><button class="btn btn-primary">EDITAR EXPOSICIONES</button></a>
        </div>
    </div>
</div>